[flake8]
ignore = E203, E501, W503, PLC0301,  # handled by black
         PLC0114, PLC0115, PLC0116, Pylint docstrings
         PLE0401,

exclude =
    *_venv
    venv_*
    venv
    code/*
    conf.py
